server:
  port: 8088

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: Eliaro-14.
    url: jdbc:mysql://localhost:3306/spring-concepts-revision
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
